.col-xl-3,.col-xl-4,.col-xl-6,.col-xl-12
.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-12,
.col-md-3,.col-md-4,.col-md-6,.col-md-12,
.col-sm-3,.col-sm-4,.col-sm-6,.col-sm-12,
.col-3,.col-4,.col-6,.col-12{
    /* height:100%;
    padding-left: 16px;
    padding-right: 16px; */
}

/* xl1200  lg992  md768  sm576   xs  */
@media screen and (min-width:1200px){ /*xl*/
    /* .col-xl-3{width:25%;}
    .col-xl-4{width:33.33333%;}
    .col-xl-6{width:50%;}
    .col-xl-12{width:100%;} */
}
@media screen and (max-width:1200px){ /*lg*/
    /* .col-lg-3{width:25%;}
    .col-lg-4{width:33.33333%;}
    .col-lg-6{width:50%;}
    .col-lg-12{width:100%;} */
    .bout-me{
        height:200%;

        .container,.row{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height:200%;
            flex-wrap:nowrap;
        }
    }
}
@media screen and (max-width:992px){ /*md*/
    /* html{font-size:8px;} */
    /* .col-md-3{width:25%;}
    .col-md-4{width:33.33333%;}
    .col-md-6{
        width:50%;
    }
    .col-md-12{width:100%;} */
    .what-i-do{
        height:200%;
        margin-top: 50px;
        
        .container,.row{
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            height:200%;
            flex-wrap:nowrap;
        }
        .first{
            margin-bottom:15px;
            margin-right: 0 !important;
        }
        .second{
            margin-left: 0px !important;
        }
        .card{
            width:100% !important;
        }

    }
    .portfolio{
        height:200%;
        margin-top: 50px;
        .container{
            width:64%;
            height:200%;

            .row{
                flex-direction: column ;
                /* justify-content: center;
                align-items: center; */
                height:506px;

                .card{
                    width:100%;
                    height:33%;
                    flex-direction: row;
                    
                    .project-img{
                        width:35% ;
                        height:100% ;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 10px;
                    }
                    .p__button{
                        width:65%;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px){ /*sm*/
    /* .col-sm-3{width:25%;}
    .col-sm-4{width:33.33333%;}
    .col-sm-6{width:50%;}
    .col-sm-12{width:100%;} */
}
@media screen and (max-width:600px) {
    .bout-me{
    .row{
    .photograph{
        .img,.hollow-object{
            scale:1.5;
        }
    }    
    }
    }
}

@media screen and (max-width:576px){ /*xs*/
    /* .col-3{width:25%;}
    .col-4{width:33.33333%;}
    .col-6{width:50%;}
    .col-12{width:100%;} */
}
