/* Global */
*{
    box-sizing: border-box;
    position: relative;
}

html,body{
    font-family: "微軟正黑體";
}

html{
    height:100%;
}

body,body *{
    display:flex;
    flex-direction: column;
    width:100%;
}

body{
    min-height: 100vh;
}





a.nav-link{
    text-decoration: none;
    color:white;
    font-weight: bold;
}


.wrapper{
    background-color: rgba(0, 0, 0, 0.25);
    height:715.2px;
    background-image:url(../images/night.jpg);
    background-size: cover;
    background-position: center center;
    /* justify-content: center;*/
    /* Align child elements horizontally */
    align-items: center; /* Align child elements vertically */
}





.navbar *{
    z-index:10;
    flex-direction:row;
    align-items: center;
}

.navbar .container{
    width: 100%;
    justify-content: center;
}

a.logo{
    background-image: url(../images/logo2.png);
    background-repeat: no-repeat;
    height:100px; width: 100px;
    /* transform:scale(0.5); */
    background-size: contain;
    margin-left: 60px;
}

.banner{
    z-index:1;
    justify-content: center;
    height: 615.2px;
    text-align:center;
}

.banner h1,.banner h2{
    margin:0;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size:55px;
    font-family: 'Ubuntu', sans-serif;
}

.banner p.middle{
    height:25px;
}

.banner h2{
    font-weight:normal;
    font-size:35px;
    margin-top: 20px;
}

.logos{
    width:100%;
    z-index:10;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.ig,.fb,.gh{
    z-index: 1;
    height:50px; width:50px;
    margin:20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ig{background-image: url(../images/ig-logo.png);}
.fb{background-image: url(../images/fb-logo.png);}
.gh{background-image: url(../images/gh-logo.png);}
